.panel {
padding: 5px;
}

ul {
    /* Use flex boxes to align li items */
    display: flex;
    justify-content: space-around;
    /* Remove default padding from major browsers */
    padding: 0;
    /* Hide the default decorations for li items */
    list-style: none;
    transition: transform .2s;
}

ul > li {
    /* Display the elements in one line */
    display: inline-block;
}

ul > li:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.text-section-view {
font-size: large;
}